{% extends "admin/change_list.html" %}
{% load staticfiles %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
    <script>
        var randomColorGenerator = function () {
            return '#' + (Math.random().toString(16) + '0000000').slice(2, 8);
        };
        var options = {
            responsive: true,
            maintainAspectRatio: true,
            legend: {
                position: 'left'
            },
            title: {
                display: true
            },
            animation: {
                animateScale: true,
                animateRotate: true
            }
        };
        window.onload = function () {
           var ctx = document.getElementById("status-chart");
            {% regroup cl.queryset|dictsort:"status" by get_status_display as status_list %}
            var lineChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: [{% for status in status_list %}'{{ status.grouper }}',{% endfor %}],
                    datasets: [{
                        data: [{% for status in status_list %}'{{ status.list|length }}',{% endfor %}],
                        backgroundColor: [{% for status in status_list %}randomColorGenerator(),{% endfor %}]
                    }]
                },
                options: options
            }); 
            ctx = document.getElementById("branch-chart");
            {% regroup cl.queryset|dictsort:"branch" by branch as branch_list %}
            lineChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: [{% for branch in branch_list %}'{{ branch.grouper }}',{% endfor %}],
                    datasets: [{
                        data: [{% for branch in branch_list %}'{{ branch.list|length }}',{% endfor %}],
                        backgroundColor: [{% for branch in branch_list %}randomColorGenerator(),{% endfor %}]
                    }]
                }, options: options
            });
           /* ctx = document.getElementById("company-chart");
            {% regroup cl.queryset|dictsort:"company" by company as company_list %}
            lineChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: [{% for company in company_list %}'{{ company.grouper }}',{% endfor %}],
                    datasets: [{
                        data: [{% for company in company_list %}'{{ company.list|length }}',{% endfor %}],
                        backgroundColor: [{% for company in company_list %}randomColorGenerator(),{% endfor %}]
                    }]
                }, options: options
            });*/
           
        }
    </script>
{% endblock %}
{% block content %}
<a href="{% url 'download_excel_data' %}">Download as excel sheet</a>
    <h1> Graphs </h1>
    <hr>
    <div class="row">
        <div class="col-sm-5">
            <canvas id="status-chart" style="width: 100px !important;"></canvas>
        </div>
        <div class="col-sm-5">
            <canvas id="branch-chart" style="width: 100px !important;"></canvas>
        </div>
        {% comment %} <div class="col-sm-4">
            <canvas id="company-chart" style="width: 100px !important;"></canvas>
        </div> {% endcomment %}
    </div>
    
    {{ block.super }}
{% endblock %}