{% load static %}
<!doctype html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<head>
<title>Recruiters-MUJ</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
<script type = "text/javascript"
         src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
      </script>
</head>

<body>

<nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">Placement Portal</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="#test1">Recuriters</a></li>
        <li class="tab"><a href="#test2">Register</a></li>
      
      </ul>
    </div>
  </nav>

 <div class="container">

  <div id="test1" class="col s12">
  
    <div class="col">
      <div class="card-panel cyan lighten-5
      ">
       
  
  <p class="flow-text">
  
  Recruiters
     <p class="flow-text">
     Founded in 1959, the Indian Institute of Technology Madras is one of the national centres of excellence in engineering education and research. Over the decades the institute has worked hard to earn a very high repute among the general public, the academia as well the industry. Setting standards of excellence in all our endeavours, namely Teaching, Research and Consultancy, IITM has pushed the frontiers of technological knowledge as well as served the nation in all its capacity for technical and scientific advancement.

Maintaining strong relations with the industry is one of the priorities of the institute. Through Industrial Consultancy and Sponsored Research (IC & SR), the faculty and staff of the institute get to work on collaborative projects with the industry. Many companies also pursue joint research programs with various departments and also sponsor individual projects. Scientists and researchers from top firms also visit the institute frequently for technical lectures and interactions. In order to give the students a valuable exposure to the industry, internships are encouraged and are included as a mandatory part in the undergraduate curriculum.

Please click here if you'd like to know more about the academics of the institute.

Visit the Rules and Procedures section to know about the rules for the Campus Placements this year.
  
  
  </p>
<p class="flow-text">
  Why Recruit at MUJ
  <p class="flow-text">
One of the most prestigious institutions in the world for education and research in engineering and sciences, IIT Madras offers the cream of the talent in the country. For five decades now, IITM has produced many illustrious people who have shone in their chosen fields. The following facts would give you an overview of why IIT Madras remains one of the most preferred destinations of recruitment for the leaders of industry.

Please click here for Past recruiters.
  </p>
  </p>
  <p class="flow-text">
  Students
  <p class="flow-text">
The USP of the IITs is the fact that they take in the cream of the talented students every year. The selection processes for the various programs in IIT are very rigorous. JEE, GATE and JAM are among the most competitive examinations. IIT Madras is the destination of choice for many of the top position holders in these exams. Having cleared these tough exams, students go through even tougher academic curriculum. Apart from a strong emphasis on core technical knowledge, the life at IITM also includes character building, cultural activities, literary activities, sports and entrepreneurial activities.

Please click here for details of the selection processes.

The reputed technical and cultural festivals of IITM, Shaastra, Saarang and Research scholars day are completely managed and coordinated by the students. This apart from the various departmental festivals, activities and competitions. These kinds of exposure imbibes both confidence and ability in the students to achieve what they want. No wonder then that the students of IITM have brought laurels to both the institute and the nation.


</p>
</p>
<p class="flow-text">
Faculty
<p class="flow-text">
IIT Madras has among the finest faculty members in any educational and research institution. World renowned for their prowess in teaching and research, the faculty of IIT Madras have raised the name of the institution to what it is today. Many of the professors have rich experience in engineering and sciences. Having obtained their doctorates from prestigious institutes, prospective faculty undergo a rigorous selection process. There is an adage in IIT circles that it is more difficult to become a professor in IIT than a student. With many years of experience in research, the faculty are the leading light for the students who excel under their guidance. Every year many award-winning research publications occur in leading international and national journals.

Many professors are also distinguished members and fellows of various professional and research bodies like IEEE, ACM and INAE. The faculty of IITM also contribute to many governmental programs for development. Many faculty members also do industrial consultancy, working in collaborative projects with companies and organizations. The central and state governments as well as other bodies have conferred various titles and awards of honour on the faculty of IIT Madras.
  </p></p></p>
  
  </div>
    </div>
  </div>


  <div id="test2" class="col s12">
  <p class="flow-text">
  Register Here
  </p>
  <a class="waves-effect waves-light btn-large" href="https://forms.gle/xLP7wLuZZ1nCoaPF7">REGISTER</a>
  </div>
<div class="container">
  </body>
  
  </html>